@page
@model Diplomski.Pages.Admin.Category.CreateModel

@{
    ViewData["Title"] = "Create";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins&display=swap" rel="stylesheet">
<style>
    h1 {
        font-family: 'Montserrat', sans-serif;
    }

    body {
        background-color: #E4EFE7;
    }

    .slika{
        width: 447px;
        z-index: -1;
        right: 0;
        top: 50px;
        opacity: 70%;   
    }

    .moj-cont{
        padding:50px 0 0 200px;
    }
</style>

<div>
    <a asp-page="Index"><img src="~/images/back1.png" class="img-fluid m-3" style="width:35px;" /></a>
</div>

<h1 class="text-center m-5 text-decoration-underline">Kreiraj novu kategoriju</h1>

<div class="container moj-cont">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FoodCategory.FoodCategoryName" class="control-label text-lg-start"></label>
                    <input asp-for="FoodCategory.FoodCategoryName" class="form-control" />
                    <span asp-validation-for="FoodCategory.FoodCategoryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Kreiraj" class="btn btn-outline-dark mt-3" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <img src="~/images/pozadinaZaKat.jpg" class="img-fluid position-absolute slika" />
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
